<h1>My Movies</h1>

<ul>
    <% @movies.each do |movie| %>
    
        <li>
            Title: <%= movie["title"] %>
            Rating: <%= movie["rating"] %>
        <li>
        
    <% end %>  
</ul>      

<div>
    <%= link_to("Create New Movie", new_movie_path) %>
</div>





